# Code owners for java-toolkit
# These owners are the default reviewers for pull requests. They are automatically
# requested for review when someone opens a PR that modifies matching files.
# Docs: https://docs.github.com/articles/about-code-owners

# Default owner for everything in the repo
*                       @rahilsh
